<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/styles.css" type="text/css">
        <title>Word Frequency</title>
    </head>
    <body>
        <div class="container">
            <h4>The word {{input1}} appears in the phrase {{input2}}</h4>
            <h3>{{result}} times!</h3>
            <a href="/">Click here to return to home page</a>
        </div>
    </body>
</html>
