<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
        <link rel="stylesheet" href="/css/styles.css" type="text/css">
        <title>Word Frequency</title>
    </head>
    <body>
        <div class="container">
            <header>
                <h1>Word Count!</h1>
                <h2>see how many times a specific word is used in a phrase</h2>
            </header>

            <div id="border4-animation" class="border4">
                <div id="border3-animation" class="border3">
                    <div id="border2-animation" class="border2">
                        <div id="border1-animation" class="border1">
                            <div id="border-info-animation" class="border-info">
                                <h4>The word <em>'{{input1}}'</em> appears in the phrase <em>'{{input2}}'</em></h4>
                                <h3><b>{{result}}</b> times!</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="anchor">
                <a href="/">Click here to do it again!</a>
            </div>
        </div>
    </body>
</html>
